.login{
    margin: 0 auto;
    margin-top: 250px;
    padding: 20px;
    height: 400px;
    width: 500px;
    /* background-color: #ccc; */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px 4px #ccc;

    display: grid;
    grid-template-rows: repeat(4,1fr);
}

.header{
    font-size: 25px;
}
.user,
.password{
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 7px;

}
.button_{
    height: 40px;
    width: 100px;
    margin: 0 auto;
}